apiVersion: v1
kind: ConfigMap
metadata:
  name: coturn-config
data:
  turnserver.conf: |
    listening-port=3478
    tls-listening-port=5349
    fingerprint
    lt-cred-mech
    use-auth-secret
    static-auth-secret=${TURN_SECRET}
    realm=voip.smarttt.cloud
    total-quota=100
    bps-capacity=0
    stale-nonce
    no-multicast-peers
    no-cli
    no-loopback-peers
    no-tlsv1
    no-tlsv1_1
