apiVersion: v1
kind: Service
metadata:
  name: coturn-service
  labels:
    app: coturn
spec:
  selector:
    app: coturn
  ports:
  - name: turn-tcp
    port: 3478
    targetPort: turn-tcp
    protocol: TCP
  - name: turn-udp
    port: 3478
    targetPort: turn-udp
    protocol: UDP
  - name: turns-tcp
    port: 5349
    targetPort: turns-tcp
    protocol: TCP
  type: LoadBalancer  # Needs external IP for TURN
