apiVersion: v1
kind: Service
metadata:
  name: coturn
  annotations:
    # Use same public IP as Traefik, different ports
    metallb.universe.tf/loadBalancerIPs: 209.45.65.209
    metallb.universe.tf/allow-shared-ip: traefik-coturn-shared
spec:
  type: LoadBalancer
  selector:
    app: coturn
  ports:
  - name: turn-udp
    port: 3478
    targetPort: 3478
    protocol: UDP
  - name: turn-tcp
    port: 3478
    targetPort: 3478
    protocol: TCP
  - name: turn-tls
    port: 5349
    targetPort: 5349
    protocol: TCP
  sessionAffinity: ClientIP
