apiVersion: v1
kind: Service
metadata:
  name: coturn
  annotations:
    # MetalLB will auto-assign an IP from the k8s-pool
    metallb.universe.tf/address-pool: k8s-pool
spec:
  type: LoadBalancer
  selector:
    app: coturn
  ports:
  - name: turn-udp
    port: 3478
    targetPort: 3478
    protocol: UDP
  - name: turn-tcp
    port: 3478
    targetPort: 3478
    protocol: TCP
  - name: turn-tls
    port: 5349
    targetPort: 5349
    protocol: TCP
  sessionAffinity: ClientIP
